*.pyc
*~
build/*
*.o
Makefile*
*.log
*.exe
*.txt
Misc/python.pc
Modules/Setup
Modules/Setup.config
Modules/Setup.local
Modules/config.c
Modules/ld_so_aix
Parser/pgen
config.status
libpython2.7.a
pyconfig.h
python.exe-gdb.py
